<div class="container-fluid">
    <div class="title">
        <label class="logo" for="tittle"></label>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-5 lat-bar">
                    <img [src]="userIcon" class="icon" alt="">
                </div>
                <div class="col-sm-7 p-0">
                    <div class="mt-2 ">
                        <label for="Clients" class="clientTitule">Clients</label>
                    </div>
                    <div>
                        <div class="mt-2">
                            <label for="Clients">Clients</label>
                        </div>
                        <div class="mt-2">
                            <label for="Clients">Client look history</label>
                        </div>
                        <div class="mt-2">
                            <label for="Clients">Emergency PIN configuration</label>
                        </div>
                        <div class="mt-2">
                            <label for="Clients">Emergency PIN history</label>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="col-sm-10">
            <div class="d-inline">
                <button type="button" class="btn btn-primary" (click)="openPopUp()">New</button>
            </div>
            <div class="d-inline margin-button">
                <button type="button" class="btn btn-primary">Export</button>
            </div>
            <div class="row mt-3">
                <div class="col-sm-3">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter shared key"
                            aria-label="Recipient's username" aria-describedby="basic-addon2" id="sharedKeyClient"
                            [(ngModel)]="sharedKeyClient">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                (click)="searchClient()">Search</button>
                        </div>
                    </div>
                </div>
            </div>

            <app-form-client [client]="clientSelected" [componente]="nameComponent" (cerrar)="cerrar($event)"
                *ngIf="search"></app-form-client>
            <div class="mt-3">
                <label for="clients" class="clientTitule">Clients</label>
            </div>
            <table class="table table-bordered mt-2">
                <thead>
                    <tr class="text-center">
                        <th class="col-md-2" scope="col">Shared Key</th>
                        <th class="col-md-2" scope="col">Business Id</th>
                        <th class="col-md-2" scope="col">E-mail</th>
                        <th class="col-md-2" scope="col">Phone</th>
                        <th class="col-md-2" scope="col">Data Added</th>
                        <th class="col-md-1" scope="col"><img class="icon" [src]="editIcon" alt=""></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center" *ngFor="let client of clients">
                        <td>{{client.sharedKey}}</td>
                        <td>{{client.bussinessID}}</td>
                        <td>{{client.email}}</td>
                        <td>{{client.phone}}</td>
                        <td>{{client.dataAdded}}</td>
                        <td><img class="icon" [src]="editIconBW" alt=""></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>