<div class="card size-card">
  <div class="card-body">
    <div class="form-group row">
      <label for="name" class="col-sm-3 col-form-label">Name</label>
      <div class="col-sm-9">
        <input type="name" class="form-control" id="name" [(ngModel)]="client.bussinessID" placeholder="name">
      </div>
    </div>
    <div class="form-group row mt-1">
      <label for="phone" class="col-sm-3 col-form-label">Phone</label>
      <div class="col-sm-9">
        <input type="phone" class="form-control" id="phone" [(ngModel)]="client.phone" placeholder="phone">
      </div>
    </div>
    <div class="form-group row mt-1">
      <label for="e-mail" class="col-sm-3 col-form-label">E-mail</label>
      <div class="col-sm-9">
        <input type="e-mail" class="form-control" id="e-mail" [(ngModel)]="client.email" placeholder="e-mail">
      </div>
    </div>
    <div class="form-group row mt-1">
      <label for="start-date" class="col-sm-3 col-form-label">Start date</label>
      <div class="col-sm-9">
        <input type="start-date" class="form-control" id="start-date" [(ngModel)]="client.dataAdded"
          placeholder="start-date">
      </div>
    </div>
    <div class="form-group row mt-1">
      <label for="end-date" class="col-sm-3 col-form-label">End date</label>
      <div class="col-sm-9">
        <input type="end-date" class="form-control" id="end-date" placeholder="end-date">
      </div>
    </div>
    <div class="row mt-2">
      <div class="align-item-b">
        <button type="button" class="btn btn-primary" (click)="cerrarForm()">Ok</button>
      </div>
    </div>
  </div>
</div>